@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav_container {
    /* position: fixed; */
}
.nav_container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.5vw;
    /* background-color: aqua; */
    /* position: fixed; */
}

.nav_container ul li{
    list-style: none;
    text-decoration: none;
    padding: 0vw 1vw;
    cursor: pointer;
    color:rgb(22, 22, 20) ;
    transition: color 2s ease-in-out;

}

.nav_container ul li:hover{
    transition: color 2s ease-in-out;
    color:rgb(248, 179, 5) ;
    transition: all ;
}
.second_nav{
    background-color: rgb(133, 218, 189);
    padding: 0vw 8vw;
}

.second_nav ul{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    height: 4vw;
}

.second_nav ul li{
    /* text-decoration: none; */
    list-style: none;
    cursor: pointer;
}

.second_nav ul li a{
    text-decoration: none;
    /* list-style: none; */
    cursor: pointer;
}

.nav_main{
    width: 100%;
    height: 29vw;
    background-image: url("Images/FIRST.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /* overflow-y: scroll; */
    animation: home_image 50s linear infinite;
    /* animation-direction: alternate; */
}

@keyframes home_image {
    0%{
        background-image: url("Images/addressable_con.png");
    }
    25%{
        background-image: url("Images/FIRST.jpg");
    }
    50%{
        background-image: url("Images/WINDOW_ONE.jpeg");
    }
    75%{
        background-image: url("Images/WINDOW_TWO.jpeg");
    }
    100%{
        background-image: url("Images/WINDOW_THREE.jpeg");
    }
    
}

.product_list{
    height: 380px;
    width:100% ;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
width: 300px;
height: 250px;
margin: 0px 1vw;
border: 1px solid black;
}

.our_product_container{
    border: 1px solid red;
    background-color: beige;

}
.our_product_container h2{
    /* content: ""; */
    margin: 1vw 0vw 0vw 7vw;
}
/* .our_product_container h2::after{
    border: 5px solid black;
} */

.our_product{
    height: 880px;
    display: grid;
    grid-template-rows: repeat(2,340px);
    grid-template-columns: auto auto auto;
    justify-content: center;
    /* justify-items: center; */
    align-content: center;
    gap: 1vw;
    }

    .our_product .o_product{
    height: 340px;
    width:370px ;
    border: 2px solid blue;
}

.independent_designer{
    background-image: url("./Images/addressable_con.png");
    width: 100%;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 2.2vw;
    flex-direction: column;
    padding: 0vw 26vw;
    color: whitesmoke;
    line-height: 3vw;
    background-color: #222222;
    opacity: 0.6;
}